/*Styling applied to all*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Styling applied to the sun symbol*/
.theme-switcher {
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
    margin: 8px;
    cursor: pointer;

    position: relative;
    right: 25px;
}

/*Styling applied to the back button*/
.back {
    display: flex;
    flex-wrap: wrap;
    
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-right: 50px;
}

/*Styling applied to the header section of the blog page*/
#header {
    padding: 10px;
}

/*Styling applied to the blogs of the main content*/
.blog {
    font-size: 16px;
    margin: 10px;
    border: 2px solid black;
    padding-left: 2%;
}

/*Styling applied to the paragraph element of the blog*/
.blog p {
    margin: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}

/*Styling applied to the paragraph element of the footer*/
footer p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Styling applied to the unordered list element of the footer*/
footer ul {
    list-style: none;
}
