/*Styling applied to all*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/*Styling applied to the sun symbol*/
.theme-switcher {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    right: 25px;
    font-size: 20px;
}

/*Styling applied to the header*/
h1 {
    color:white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    text-align: center;
}

/*Styling applied to the class container*/
.container {
    display: flex;
    justify-content: center;
    column-count: 2;
    margin: 5%;
}

/*Styling applied to the content of the header*/
.my-first-blog {
    position: relative;
    top: 100px;
}

/*Styling applied to the background of the header*/
.circle {
    background-color: orange;
    height: 450px;
    width: 450px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling applied to the column*/
.column {
    flex: 1;
}

/*Styling applied to the entry form*/
.entry {
    position: relative;
    top: 100px;
}

/*Styling applied to the title of the form*/
#mind {
    display: flex;
    justify-content: center;
}

/*Styling applied to the list of the form*/
ul li {
    list-style: none;
}

/*Styling applied to the username and title section of the form*/
#username, #title {
    display: block;
    min-height: 30px;
    width: 100%;
    margin: 2%;
}

/*Styling applied to the content section of the form*/
#content {
    display: block;
    min-height: 100px;
    width: 100%;
    margin: 2%;
}

/*Styling applied to the text entry box of content*/
textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: medium;
}

/*Styling applied to the submit button of the form*/
button.submit {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.21px;
    line-height: 12px;
    width: 96%;
    padding: 20px 52px;
    margin: 10px;

    position: relative;
    left: 40px;
}
